<p class="_text-center">
  Posted <%= time_ago_in_words(@ad.created_at) %> ago
</p>
 
<h2>
  <%= @ad.title %> -  <%= number_to_currency(@ad.price) %>
</h2>

<section> 
  <div grid="row">
    <div column="8">
      <%= image_tag(@ad.main_image) %>
    </div> 
    <div column="4">
      <%#= image_tag('google-map.png') %>
      hi 
    </div>
  </div>    
  <p> 
    <% (0...@ad.images.count).each do |image| %>
      <%= image_tag(@ad.thumbnail(image)) %>
    <% end %>
  </p>     

  <p>
    <%= @ad.description %>
  </p>
</section>


<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
