<!DOCTYPE html>
<html>
  <head>
    <title>CraigslistClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %> 
    <%= stylesheet_pack_tag 'application' %> 
  </head>

  <body container>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= render 'shared/nav' %>
    <%= yield %>
  </body>
</html>
